Ficha_5/5B_flux.json
[
    {
        "id": "ccb8d1a3302eb89a",
        "type": "tab",
        "label": "SC_5B",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "83f27422f716ba31",
        "type": "http request",
        "z": "ccb8d1a3302eb89a",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1040200.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 640,
        "y": 420,
        "wires": [
            [
                "ce81ed2ee2727eb3",
                "922b003e801a328a"
            ]
        ]
    },
    {
        "id": "26c4a9fe55b7f978",
        "type": "inject",
        "z": "ccb8d1a3302eb89a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 420,
        "wires": [
            [
                "83f27422f716ba31"
            ]
        ]
    },
    {
        "id": "ce81ed2ee2727eb3",
        "type": "debug",
        "z": "ccb8d1a3302eb89a",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 360,
        "wires": []
    },
    {
        "id": "d1b52680d8201dd3",
        "type": "ui_chart",
        "z": "ccb8d1a3302eb89a",
        "name": "",
        "group": "6dd654d6d3a2491f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "af8944b8a0d07788",
        "type": "mqtt in",
        "z": "ccb8d1a3302eb89a",
        "name": "",
        "topic": "IPB/IoT/Lab/AirQuality",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "48af79046741b302",
        "nl": true,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 440,
        "y": 60,
        "wires": [
            [
                "ed1b7ad33b86e1b4",
                "191475a3554afc6a"
            ]
        ]
    },
    {
        "id": "191475a3554afc6a",
        "type": "function",
        "z": "ccb8d1a3302eb89a",
        "name": "function 14",
        "func": "var temp = { payload: msg.payload.r_temp};\nvar hum = { payload: msg.payload.r_hum};\n\nreturn [temp, hum];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 120,
        "wires": [
            [
                "d1b52680d8201dd3",
                "bf783c723d4ddc40",
                "136ccacc1d493744"
            ],
            [
                "626b609adcc84ba7",
                "64858719435dd54c",
                "523c9ecdeb281af7"
            ]
        ]
    },
    {
        "id": "ed1b7ad33b86e1b4",
        "type": "debug",
        "z": "ccb8d1a3302eb89a",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 40,
        "wires": []
    },
    {
        "id": "bf783c723d4ddc40",
        "type": "ui_gauge",
        "z": "ccb8d1a3302eb89a",
        "name": "",
        "group": "fadd3d264db4a17c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Inst Temp",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 140,
        "wires": []
    },
    {
        "id": "626b609adcc84ba7",
        "type": "ui_chart",
        "z": "ccb8d1a3302eb89a",
        "name": "",
        "group": "6dd654d6d3a2491f",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Hum",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "64858719435dd54c",
        "type": "ui_gauge",
        "z": "ccb8d1a3302eb89a",
        "name": "",
        "group": "fadd3d264db4a17c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Inst Hum",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 240,
        "wires": []
    },
    {
        "id": "136ccacc1d493744",
        "type": "debug",
        "z": "ccb8d1a3302eb89a",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 40,
        "wires": []
    },
    {
        "id": "523c9ecdeb281af7",
        "type": "debug",
        "z": "ccb8d1a3302eb89a",
        "name": "debug 37",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 280,
        "wires": []
    },
    {
        "id": "922b003e801a328a",
        "type": "function",
        "z": "ccb8d1a3302eb89a",
        "name": "function 5",
        "func": "let payload = [];\n\nfor (let data of msg.payload.data) {\n    let dict = {\n        \"Day\": data.forecastDate,\n        \"Min temp\": data.tMin,\n        \"Max temp\": data.tMax,\n        \"Precipitation\": data.precipitaProb\n    }\n    payload.push(dict);\n};\n\nlet out_msg = { payload: payload };\nreturn out_msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 420,
        "wires": [
            [
                "20783b07958be43b"
            ]
        ]
    },
    {
        "id": "20783b07958be43b",
        "type": "ui_table",
        "z": "ccb8d1a3302eb89a",
        "group": "ecca9dacd9c6dc48",
        "name": "",
        "order": 3,
        "width": 12,
        "height": 3,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1030,
        "y": 420,
        "wires": []
    },
    {
        "id": "0cd7c9050daad82e",
        "type": "ui_button",
        "z": "ccb8d1a3302eb89a",
        "name": "",
        "group": "ecca9dacd9c6dc48",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Olá mundo!",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 610,
        "y": 480,
        "wires": [
            [
                "0057536fa334bd5c",
                "690f8693f797f0e5"
            ]
        ]
    },
    {
        "id": "0057536fa334bd5c",
        "type": "ui_toast",
        "z": "ccb8d1a3302eb89a",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 850,
        "y": 480,
        "wires": []
    },
    {
        "id": "690f8693f797f0e5",
        "type": "mqtt out",
        "z": "ccb8d1a3302eb89a",
        "name": "",
        "topic": "IPB/IoT/PGTD/group1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "48af79046741b302",
        "x": 820,
        "y": 540,
        "wires": []
    },
    {
        "id": "76927721e8101a6d",
        "type": "ui_toast",
        "z": "ccb8d1a3302eb89a",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 650,
        "y": 620,
        "wires": []
    },
    {
        "id": "c1dcecf41d50495d",
        "type": "mqtt in",
        "z": "ccb8d1a3302eb89a",
        "name": "",
        "topic": "IPB/IoT/PGTD/group4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "48af79046741b302",
        "nl": true,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 380,
        "y": 640,
        "wires": [
            [
                "76927721e8101a6d",
                "36d5d892c222e8f2"
            ]
        ]
    },
    {
        "id": "36d5d892c222e8f2",
        "type": "debug",
        "z": "ccb8d1a3302eb89a",
        "name": "debug 41",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 660,
        "wires": []
    },
    {
        "id": "9ff7abb69e28fa42",
        "type": "mqtt in",
        "z": "ccb8d1a3302eb89a",
        "name": "",
        "topic": "IPB/IoT/PGTD/group1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "48af79046741b302",
        "nl": true,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 1060,
        "y": 500,
        "wires": [
            [
                "0d5b50f897ab6919"
            ]
        ]
    },
    {
        "id": "0d5b50f897ab6919",
        "type": "ui_toast",
        "z": "ccb8d1a3302eb89a",
        "position": "top left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1270,
        "y": 500,
        "wires": []
    },
    {
        "id": "6dd654d6d3a2491f",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "79b13b1665405dc0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "48af79046741b302",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fadd3d264db4a17c",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "79b13b1665405dc0",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ecca9dacd9c6dc48",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "79b13b1665405dc0",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "79b13b1665405dc0",
        "type": "ui_tab",
        "name": "Clima API Request",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]